In [3]:
import pandas as pd
import mysql.connector

# MySQL 연결 정보
db_config = {
    "host": "jkkyui-MacBookPro.local",         # MySQL 서버 호스트
    "user": "root",     # MySQL 사용자 이름
    "password": "apdlvmf4@@", # MySQL 비밀번호
    "database": "Semose_DB"  # 데이터베이스 이름
}

# MySQL 서버에 연결
connection = mysql.connector.connect(**db_config)

# 테이블 이름
table_name = "places"

# SQL 쿼리를 사용하여 데이터를 데이터프레임으로 가져옵니다.
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, connection)

# MySQL 연결 닫기
connection.close()

# 데이터프레임 출력
print(df)

              id           address_name category_group_code  \
0     1000979638  경기 수원시 팔달구 인계동 241-14                None
1       10018908  경기 수원시 영통구 매탄동 1264-2                 FD6
2      100245369   경기 수원시 장안구 영화동 163-2                 FD6
3       10028799  경기 수원시 영통구 매탄동 153-22                 HP8
4       10030810   경기 수원시 장안구 조원동 764-2                None
...          ...                    ...                 ...
5264     9979794   경기 수원시 팔달구 우만동 134-4                 PM9
5265   998502881     경기 수원시 영통구 하동 1016                 HP8
5266     9985403     경기 수원시 팔달구 인계동 368                 PM9
5267     9988730   경기 수원시 팔달구 인계동 955-8                 FD6
5268   999313761    경기 수원시 팔달구 남창동 68-5                 BK9

     category_group_name             category_name distance          phone  \
0                   None               가정,생활 > 세탁소     None   031-215-6030
1                    음식점  음식점 > 한식 > 육류,고기 > 족발,보쌈     None   031-224-0777
2                    음식점            음식점 > 양식 > 햄버거     None           None
3                     병원           의료,건강 > 병원 > 치과     None  031-8013-7575
4                   None                교통,수송 > 택시     None   031-256-2023
...                  ...                       ...      ...            ...
5264                  약국                의료,건강 > 약국     None   031-216-4657
5265                  병원         의료,건강 > 병원 > 일반의원     None   031-213-3655
5266                  약국                의료,건강 > 약국     None   031-213-0966
5267                 음식점             음식점 > 한식 > 국밥     None   031-233-1956
5268                  은행  금융,보험 > 금융서비스 > 은행 > ATM     None           None

           place_name                              place_url  \
0              메이저크리닝  http://place.map.kakao.com/1000979638
1           항아리보쌈 매탄점    http://place.map.kakao.com/10018908
2               슈퍼벅버거   http://place.map.kakao.com/100245369
3        환한미소 바른이치과의원    http://place.map.kakao.com/10028799
4                팔달운수    http://place.map.kakao.com/10030810
...               ...                                    ...
5264            제임스약국     http://place.map.kakao.com/9979794
5265       광교365메디컬의원   http://place.map.kakao.com/998502881
5266         참다운온누리약국     http://place.map.kakao.com/9985403
5267       전주콩나물국밥 본점     http://place.map.kakao.com/9988730
5268  IBK기업은행365 화성행궁   http://place.map.kakao.com/999313761

            road_address_name           x          y
0     경기 수원시 팔달구 경수대로565번길 48  127.027444  37.276103
1      경기 수원시 영통구 매탄로108번길 28  127.044925  37.259857
2      경기 수원시 장안구 정조로922번길 45  127.015670  37.291204
3      경기 수원시 영통구 중부대로256번길 3  127.043829  37.274432
4      경기 수원시 장안구 송정로167번길 27  127.013648  37.299059
...                       ...         ...        ...
5264       경기 수원시 팔달구 권광로 354  127.038035  37.278608
5265     경기 수원시 영통구 광교중앙로 170  127.060685  37.288157
5266    경기 수원시 팔달구 권광로276번길 4  127.036174  37.271649
5267      경기 수원시 팔달구 장다리로 287  127.028941  37.274731
5268        경기 수원시 팔달구 행궁로 18  127.014591  37.280977

[5269 rows x 12 columns]

In [5]:
df.x

0       127.027444
1       127.044925
2       127.015670
3       127.043829
4       127.013648
           ...
5264    127.038035
5265    127.060685
5266    127.036174
5267    127.028941
5268    127.014591
Name: x, Length: 5269, dtype: float64

In [6]:
df.y

0       37.276103
1       37.259857
2       37.291204
3       37.274432
4       37.299059
          ...
5264    37.278608
5265    37.288157
5266    37.271649
5267    37.274731
5268    37.280977
Name: y, Length: 5269, dtype: float64

In [8]:
import pandas as pd
import folium
from folium import plugins

# 중심 위치 설정
center_latitude = df.y.mean()
center_longitude = df.x.mean()

# Folium 지도 생성
m = folium.Map(location=[center_latitude, center_longitude], zoom_start=5)

# DataFrame의 각 행에 대한 마커 생성
for index, row in df[['y','x']].iterrows():
    folium.CircleMarker([row['y'], row['x']], radius=5, color='blue').add_to(m)

# 지도를 HTML로 저장
m.save('/Users/jkky/Downloads/map.html')

In [1]:
!conda install folium --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 23.9.0

Please update conda by running

    $ conda update -n base conda



## Package Plan ##

  environment location: /opt/homebrew/Caskroom/miniforge/base/envs/tf25

  added / updated specs:
    - folium


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.6.0               |     pyhd8ed1ab_0          27 KB  conda-forge
    folium-0.14.0              |     pyhd8ed1ab_0          71 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          98 KB

The following NEW packages will be INSTALLED:

  branca             conda-forge/noarch::branca-0.6.0-pyhd8ed1ab_0
  folium             conda-forge/noarch::folium-0.14.0-pyhd8ed1ab_0



Downloading and Extracting Packages
branca-0.6.0         | 27 KB     | ##################################### | 100%
folium-0.14.0        | 71 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [9]:
import math

def haversine(lat1, lon1, lat2, lon2):
    # 지구의 반지름 (킬로미터)
    radius = 6371

    # 위도 및 경도를 라디안으로 변환
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Haversine 공식을 사용하여 두 지점 간의 거리 계산
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = radius * c

    return distance

In [11]:
# 특정 위도와 경도 (예: 서울 시청의 위도와 경도)
seoul_city_hall_lat = 36.963880825057295
seoul_city_hall_lon = 127.94290388797995

# DataFrame에 있는 위도와 경도 칼럼을 사용하여 거리 계산
df['거리(km)'] = df.apply(lambda row: haversine(seoul_city_hall_lat, seoul_city_hall_lon, row['y'], row['x']), axis=1)

# DataFrame 출력
print(df)

              id           address_name category_group_code  \
0     1000979638  경기 수원시 팔달구 인계동 241-14                None
1       10018908  경기 수원시 영통구 매탄동 1264-2                 FD6
2      100245369   경기 수원시 장안구 영화동 163-2                 FD6
3       10028799  경기 수원시 영통구 매탄동 153-22                 HP8
4       10030810   경기 수원시 장안구 조원동 764-2                None
...          ...                    ...                 ...
5264     9979794   경기 수원시 팔달구 우만동 134-4                 PM9
5265   998502881     경기 수원시 영통구 하동 1016                 HP8
5266     9985403     경기 수원시 팔달구 인계동 368                 PM9
5267     9988730   경기 수원시 팔달구 인계동 955-8                 FD6
5268   999313761    경기 수원시 팔달구 남창동 68-5                 BK9

     category_group_name             category_name distance          phone  \
0                   None               가정,생활 > 세탁소     None   031-215-6030
1                    음식점  음식점 > 한식 > 육류,고기 > 족발,보쌈     None   031-224-0777
2                    음식점            음식점 > 양식 > 햄버거     None           None
3                     병원           의료,건강 > 병원 > 치과     None  031-8013-7575
4                   None                교통,수송 > 택시     None   031-256-2023
...                  ...                       ...      ...            ...
5264                  약국                의료,건강 > 약국     None   031-216-4657
5265                  병원         의료,건강 > 병원 > 일반의원     None   031-213-3655
5266                  약국                의료,건강 > 약국     None   031-213-0966
5267                 음식점             음식점 > 한식 > 국밥     None   031-233-1956
5268                  은행  금융,보험 > 금융서비스 > 은행 > ATM     None           None

           place_name                              place_url  \
0              메이저크리닝  http://place.map.kakao.com/1000979638
1           항아리보쌈 매탄점    http://place.map.kakao.com/10018908
2               슈퍼벅버거   http://place.map.kakao.com/100245369
3        환한미소 바른이치과의원    http://place.map.kakao.com/10028799
4                팔달운수    http://place.map.kakao.com/10030810
...               ...                                    ...
5264            제임스약국     http://place.map.kakao.com/9979794
5265       광교365메디컬의원   http://place.map.kakao.com/998502881
5266         참다운온누리약국     http://place.map.kakao.com/9985403
5267       전주콩나물국밥 본점     http://place.map.kakao.com/9988730
5268  IBK기업은행365 화성행궁   http://place.map.kakao.com/999313761

            road_address_name           x          y     거리(km)
0     경기 수원시 팔달구 경수대로565번길 48  127.027444  37.276103  88.280753
1      경기 수원시 영통구 매탄로108번길 28  127.044925  37.259857  86.159643
2      경기 수원시 장안구 정조로922번길 45  127.015670  37.291204  89.900523
3      경기 수원시 영통구 중부대로256번길 3  127.043829  37.274432  86.873732
4      경기 수원시 장안구 송정로167번길 27  127.013648  37.299059  90.417054
...                       ...         ...        ...        ...
5264       경기 수원시 팔달구 권광로 354  127.038035  37.278608  87.527943
5265     경기 수원시 영통구 광교중앙로 170  127.060685  37.288157  86.125627
5266    경기 수원시 팔달구 권광로276번길 4  127.036174  37.271649  87.376641
5267      경기 수원시 팔달구 장다리로 287  127.028941  37.274731  88.099446
5268        경기 수원시 팔달구 행궁로 18  127.014591  37.280977  89.539217

[5269 rows x 13 columns]

In [ ]:
df[df['거리(km)'] < 1]